* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	transition: all 0.5s ease;
}
html,
body {
	font-family: 'Montserrat', sans-serif;
	background: url('../src/assets/images/bg.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
@font-face {
	font-family: 'Monument Regular';
	src: local('Monument Regular'),
		url(./assets/fonts/MonumentExtended-Regular.otf) format('truetype');
}
